h1 {
	text-align: center;
	padding: 23px;
	background-color: gray;
	color: white;
	}

    h1 {
        text-align: center;
        padding: 23px;
      background-color: gray;
      animation-name: headeranim;
      animation-duration: 5s;
    }
    @keyframes headeranim{
      0%   {background-color: rgb(211, 151, 151);}
      25%  {background-color: rgb(99, 99, 71);}
      50%  {background-color: rgb(69, 69, 156);}
      100% {background-color: rgb(0, 14, 0);}
    }
    h1:hover{
        color:seagreen;
    }
#clear{
width: 270px;
border: 3px solid gray;
border-radius: 3px;
padding: 20px;
background-color: rgb(87, 61, 65);
}
.formstyle
{
width: 300px;
height: 530px;
margin: auto;
border: 3px solid rgb(112, 118, 121);
border-radius: 5px;
padding: 2px;
}
.formstyle{
        text-align: center;
        padding: 23px;
      background-color: gray;
      animation-name: formanime;
      animation-duration: 4s;
    }
    @keyframes formanim{
      0%   {background-color: rgb(100, 78, 78);}
      25%  {background-color: rgb(99, 99, 71);}
      50%  {background-color: rgb(69, 69, 156);}
      100% {background-color: rgb(0, 14, 0);}
    }
input
{
width: 5px;
background-color: gray;
color: white;
border: 1px solid rgb(209, 178, 178);
	border-radius: 5px;
	padding: 16px;
	margin: 5px;
	font-size: 15px;
}
input:hover{
    color:rgb(2, 12, 7);
    background-color:rgba(12, 5, 5, 0.082);
}
.calcule {
width: 260px;
border: 2px solid black;
	border-radius: 3px;
	padding: 20px;
	margin: auto;
}
h2 {
    text-align: center;
        padding: 23px;
      background-color: silver;
      animation-name: formanime;
      animation-duration: 4s;
    }
    @keyframes formanim{
      0%   {background-color: rgb(100, 78, 78);}
      25%  {background-color: rgb(99, 99, 71);}
      50%  {background-color: rgb(69, 69, 156);}
      100% {background-color: rgb(0, 14, 0);}
    }